:root {
    --leaved-borderRadius: 0.25rem;
    --hovered-borderRadius: 1rem;
    
    --leaved-background: gray;
    --hovered-background: red;
}
button {
    appearance: none;
    background: var(--leaved-background);
    inline-size: 8rem;
    block-size: 3rem;
}
button.arriving {
    animation: 150ms ease-out both arrive;
}
button.arrived {
    background: var(--hovered-background);
    border-radius: var(--hovered-borderRadius);
}
button.leaving {
    animation: 300ms ease-out both leave;
}
button.leaved {
    background: var(--leaved-background);
    border-radius: var(--leaved-borderRadius);
}


@keyframes arrive {
    from {
        background: var(--leaved-background);
        border-radius: var(--leaved-borderRadius);
    }
    to {
        background: var(--hovered-background);
        border-radius: var(--hovered-borderRadius);
    }
}

@keyframes leave {
    from {
        background: var(--hovered-background);
        border-radius: var(--hovered-borderRadius);
    }
    to {
        background: var(--leaved-background);
        border-radius: var(--leaved-borderRadius);
    }
}